@page
@model RazorCrud.Pages.Climbers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Climber</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Climber.ClimberName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Climber.ClimberName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Climber.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Climber.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Climber.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Climber.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Climber.Style)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Climber.Style)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Climber.FavoritePlace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Climber.FavoritePlace)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Climber.Achievement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Climber.Achievement)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Climber.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
